# --- Domains & Email ---
PRIMARY_DOMAIN=yourdomain.com

# --- Service Primary Domains ---
# These are the main domains for each service
VAULT_SUBDOMAIN=vault
ICESHRIMP_SUBDOMAIN=shrimpnet

# --- S-UI Domain ---
SUI_DOMAIN=your-other-domain.com
SUI_SUBDOMAIN=proxy

EMAIL=your@email.com

# --- Traefik / Cloudflare ---
# Cloudflare DNS API token with Zone:Read and DNS:Edit on the zone
CF_DNS_API_TOKEN=your_cloudflare_dns_api_token

# --- Shared Postgres Settings ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=veryverystrongpassword
# Comma-separated list of DBs to create automatically
POSTGRES_MULTIPLE_DATABASES=vaultwarden,another_app
