services:
  nginx:
    image: nginx:mainline-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
      - "2096:2096"
      - "2096:2096/udp"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./cert:/etc/letsencrypt:ro
    environment:
      - PRIMARY_DOMAIN=${PRIMARY_DOMAIN}
      - VAULT_SUBDOMAIN=${VAULT_SUBDOMAIN}
      - VAULT_SUBDOMAINS=${VAULT_SUBDOMAINS}
      - PROXY_SUBDOMAIN=${PROXY_SUBDOMAIN}
      - PROXY_SUBDOMAINS=${PROXY_SUBDOMAINS}
    depends_on:
      - s-ui
      - vaultwarden
    networks: [backend]
    entrypoint: >
      sh -c "
      while [ ! -f /etc/letsencrypt/live/$$PRIMARY_DOMAIN/fullchain.pem ]; do
        echo 'Waiting for SSL certificates...';
        sleep 5;
      done;
      envsubst '$$PRIMARY_DOMAIN,$$VAULT_SUBDOMAIN,$$VAULT_SUBDOMAINS,$$PROXY_SUBDOMAIN,$$PROXY_SUBDOMAINS'
      < /etc/nginx/conf.d/default.conf.template
      > /etc/nginx/conf.d/default.conf &&
      nginx -g 'daemon off;'"

  s-ui:
    image: alireza7/s-ui
    container_name: s-ui
    restart: unless-stopped
    ports:
      - "10000-10010:10000-10010"
      - "10000-10010:10000-10010/udp"
    volumes:
      - "./db_sui:/app/db"
      - "./cert:/app/cert:ro"
    networks: [backend]

  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/vaultwarden
      - DOMAIN=https://${VAULT_SUBDOMAIN}.${PRIMARY_DOMAIN}
    volumes:
      - ./vw-data:/data
    depends_on:
      db:
        condition: service_healthy
    networks: [backend]

  db:
    image: postgres:15-alpine
    container_name: shared_db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_MULTIPLE_DATABASES=${POSTGRES_MULTIPLE_DATABASES}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./postgres/init-db.sh:/usr/local/bin/init-db.sh:ro
    command: >
      sh -c "docker-entrypoint.sh postgres &
             until pg_isready -U $$POSTGRES_USER; do sleep 2; done;
             /usr/local/bin/init-db.sh;
             wait"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks: [backend]

  certbot:
    image: certbot/dns-cloudflare
    container_name: certbot
    env_file: .env
    volumes:
      - ./cert:/etc/letsencrypt
      - ./certbot-entrypoint.sh:/entrypoint.sh:ro
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    networks: [backend]

networks:
  backend:
    driver: bridge
